.press-button {
    background-color: red;
    text-emphasis-color: blue;
    border: none;
    height: 50px;
    border-radius: 2px;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
}
.press-button:hover {
    background-color: wheat;
    height: 100px;
    transition: opacity 0.5s;
    padding: 10px;
}
.press-button:active {
    background-color: black;
    opacity: 0.3;
}
.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.header {
    height: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.calculate {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}
body  {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
